<form method="post" action="/" name="gameCreator">
  <input type="text" name="p1" placeholder="Player One">
  <input type="text" name="p2" placeholder="Player Two">
  <input type="submit" value="MORTALKOMBAT">
</form>
