<!DOCTYPE html>
<html>
<head>
  <title>WELCOME TO THE RACE</title>
</head>
<body>
  <div id="leaderboard">
    <% if @games %>
    <ul>
      <% @games.each do |game| %>
      <li>
        <%= game.winner %>
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <button type="submit" onclick="formReveal()">BRING IT ON!</button>
</body>
</html>
